@import '@/ui/_styles/variables.scss';

.container {
  padding-top: 100px;
  padding-bottom: 10px;

  @include small() {
    padding-top: 40px;
  }

  hr {
    border: none;
    height: 1px;
    width: 100%;
    border: none;
    opacity: 0.2;
  }

  p {
    padding: 23px 0;
  }
}