@import '@/ui/_styles/variables.scss';

$extra-left-padding: 80px;
.container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;

  @include mediumUp() {
    height: 60vh;
  }

  @include small() {
    height: 60vh;
  }
}

.content {
  width: 100%;

  h5,
  h2 {
    width: 100%;
  }
}

.title {
  max-width: 600px;
}

.button {
  margin: 20px auto 0 auto;
}
