@import '@/ui/_styles/variables';

.container {
  position: relative;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
  width: 100%;
  max-width: 550px;
  flex-shrink: 0;
  overflow: hidden;
  background: $pale-transparent-background;
  border: 1px solid $pale-transparent-border;
  backdrop-filter: blur(20px);
  @include regular-border-radius;

  @include small() {
    padding: 32px;
    max-width: 100%;
  }
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 8px;
  z-index: 1;
}

.variantColor {
  &-black {
    background: $pale-transparent-background;
    border: 1px solid $pale-transparent-border;
  }
  &-raspberry {
    background-color: $bright-purple-background;
    border: 1px solid $bright-purple-border;
  }
}

.button {
  z-index: 1;
}

.image {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;

  @include small() {
    width: 70%;
  }

  &.imageFull {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
