@import '@/ui/_styles/variables.scss';

.topWrapper,
.middleWrapper,
.bottomWrapper {
  position: relative;
  border-radius: $border-radius-lg;
}

.topWrapper {
  z-index: 6;
  padding-top: 140px;
  padding-bottom: 160px;

  .topWrapperLightsLayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;

    @include small() {
      background: transparent;
    }
  }

  @include small() {
    padding-top: 80px;
    overflow: hidden;
    padding-bottom: 190px;
    margin-bottom: -110px;
  }
}

.middleWrapper {
  padding-bottom: 160px;

  .middleWrapperLightsLayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;

    @include small() {
      background: transparent;
    }
  }

  @include small() {
    padding-bottom: 40px;
  }
}

.bottomWrapper {}