@import '@/ui/_styles/variables.scss';

.container {
  @include transition(0.8s, background-color, border-radius);
  background-color: $bright-purple-background;
  border: 1px solid $bright-purple-border;
  border-radius: $border-radius-lg;
  width: 72px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &[disabled] {
    opacity: 0.2;
    cursor: no-drop;
  }

  &:not([disabled]) {
    @include hover() {
      background-color: $bright-purple-hover-background;
      border: 1px solid $bright-purple-hover-border;
    }
  }
}

.reverse {
  transform: scaleX(-1);
}
