@import '@/ui/_styles/variables.scss';

.container {
  position: relative;
  z-index: $index-section-content;

  >div {
    position: relative;
    z-index: 1;
  }
}

.title {
  span {
    width: 180px;
    height: 10px;
    display: inline-block;

    @include small() {
      display: none;
    }
  }
}

.text {
  width: 100%;

  >p {
    width: 100%;
  }

  @include mediumUp() {
    padding-left: 190px;

    >p {
      max-width: 440px;
    }
  }
}

.floatingImage {
  position: absolute;
  top: calc(50% - 340px);
  right: -250px;
  rotate: -45deg;
  width: 470px;

  @include small() {
    top: calc(50% - 270px);
    right: -60px;
    width: 250px;
  }
}