@import '@/ui/_styles/variables.scss';

.container {
  svg {
    height: 35px;
  }
}



.button {
  margin-left: 10px;

  @include small() {
    margin-left: 0;
  }
}

.walletHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.walletImage {
  padding-left: 5px;
  width: auto;
  height: 20px;

}


.content {
  @include mediumUp() {

    >* {
      width: 50%;
    }
  }

  @include small-early() {
    padding-left: 0;
    gap: 40px;
  }
}