@import '@/ui/_styles/variables.scss';

.container {}

.content {
  @include mediumUp() {
    padding-left: 110px;

    >* {
      width: 50%;
    }
  }

  @include small-early() {
    padding-left: 0;
    gap: 40px;
  }
}