@import '@/ui/_styles/variables.scss';

.container {
  position: relative;
  padding: 40px;
  background-color: $color-brand-blue-800;
  border-radius: $border-radius-sm;
  background-position: bottom right;
  background-size: 550px;
  background-image: url('/images/shared/line-wave-bg@2x.png');
  background-repeat: no-repeat;

  @include small-early() {
    background-position: bottom left;
    background-size: 850px;
  }

  @include small() {
    background-size: 750px;
    padding: 32px;
  }
}
