@import '@/ui/_styles/variables.scss';

.container {
}

.content {
  position: relative;
  z-index: $index-section-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;

  @include medium() {
    gap: 50px;
  }

  @include small() {
    grid-template-columns: 100%;
    gap: 16px;
  }

  $text-indentation: 80px;
  &_title {
    @include mediumUp() {
      h5 {
        padding-left: $text-indentation + 16px;
      }
      span {
        width: $text-indentation;
        height: 10px;
        display: inline-block;
      }
    }
  }
  &_text {
    @include mediumUp() {
      padding-top: 52px;

      p {
        max-width: 515px;
        margin-left: auto;
      }
    }
  }
}

.sliderNav {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  margin-top: 16px;
  margin-bottom: 48px;

  @include small() {
    display: none;
  }
}

.slider {
  @include small() {
    margin-top: 40px;
  }

  swiper-slide {
    max-width: 355px;
    height: auto;

    > * {
      height: 100%;
    }

    &:first-of-type {
      margin-left: calc(
        (100vw - $layout-content-max-width) / 2 + $grid-gap-xl + $layout-section-left-padding
      );
    }
    &:last-of-type {
      margin-right: calc((100vw - $layout-content-max-width) / 2 + $grid-gap-xl);
    }

    @media screen and (max-width: 1360px) {
      &:first-of-type {
        margin-left: $layout-section-left-padding + $grid-gap-xl !important;
      }
      &:last-of-type {
        margin-right: $grid-gap-xl !important;
      }
    }

    @include small() {
      max-width: 85vw;
      margin-left: 20px;

      &:first-of-type {
        margin-left: $grid-gap-sm !important;
      }
      &:last-of-type {
        margin-right: $grid-gap-sm !important;
      }
    }
  }
}
