@import '@/ui/_styles/variables.scss';

.container {
  position: relative;
  z-index: $index-section-content;
}

.title {
  display: flex;
  @include mediumUp() {
    justify-content: space-between;
    align-items: center;
  }
  @include small() {
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
  }
}

.cardsList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 28px;
  margin-top: 40px;

  @include small() {
    gap: 20px;
    grid-template-columns: 100%;
  }

  @include medium() {
    grid-template-columns: repeat(3, 1fr);
  }
}
