@import '@/ui/_styles/variables';

.container {
  @include transition(0.8s, border, color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  width: fit-content;
  border-radius: $border-radius-lg;
  line-height: 1;
  color: var(--text);
  background-color: var(--bg);
}
