@import '@/ui/_styles/variables.scss';

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 28px;
  z-index: 2;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;

  .subtitle {
    margin-bottom: -8px;
  }

  @include small() {
    gap: 16px;
  }
}

.description {
  max-width: 840px;

  @include mediumUp() {
    padding-left: $layout-section-left-padding;
  }

  @include small-early() {
    padding-left: 0;
  }
}

.sliderActions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include mediumUp() {
    padding-left: $layout-section-left-padding;
  }

  .sliderCategories {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;

    @include small() {
      gap: 6px;
      margin-bottom: 22px;

      overflow-x: auto;
      width: 100vw;
      margin-left: -20px;
      padding-left: 20px;
      margin-right: -20px;
      padding-right: 20px;
    }
  }
  .sliderNav {
    display: flex;
    gap: 16px;

    @include small() {
      display: none;
    }
  }
}

.slider {
  swiper-slide {
    max-width: 485px;
    height: auto !important;
    margin-right: 28px !important;

    > * {
      height: 100% !important;
    }

    &:first-of-type {
      margin-left: calc(
        (100vw - $layout-content-max-width) / 2 + $grid-gap-xl + $layout-section-left-padding
      );
    }

    &:last-of-type {
      margin-right: calc((100vw - $layout-content-max-width) / 2 + $grid-gap-xl);
    }

    @media screen and (max-width: 1360px) {
      &:first-of-type {
        margin-left: $layout-section-left-padding + $grid-gap-xl !important;
      }
      &:last-of-type {
        margin-right: $grid-gap-xl !important;
      }
    }

    @include small() {
      max-width: 85vw;
      margin-left: 20px;

      &:first-of-type {
        margin-left: $grid-gap-sm !important;
      }
      &:last-of-type {
        margin-right: $grid-gap-sm !important;
      }
    }
  }
}
