.banner {
  background: linear-gradient(to right, #00A4DB, #CC00FF);
}

.banner__content {
  padding: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.banner__text {
  flex-grow: 1;

}



.banner__text,
.banner__close>span {
  color: #ffffff;
}

@media only screen and (max-device-width:768px) {
  .bug-bounty-mobile {
    font-size: small !important;
    display: flex;
    flex-direction: column;
  }
  .logo-slider .slide {
    height: 100px !important;
    width: 125px !important;
    padding: 5px !important;
  }
  .font-partner {
    font-size: large !important;
  }
}


@media only screen and (min-device-width:768px) {
  .bug-bounty-desktop {
    font-size: larger !important;
  }
}


.roadmap-quarter-title-left {
  background: linear-gradient(to bottom right,#00A4DB, #CC00FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  font-weight: bold
}

.roadmap-quarter-title-right {
  background: linear-gradient(to bottom right,#CC00FF, #00A4DB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  font-weight: bold
}

.logo-slider {
	-webkit-box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.125);
	box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.125);
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.logo-slider::before, .logo-slider::after {
	content: "";
	position: absolute;
	z-index: 2;
}

.logo-slider::after {
	right: 0;
	top: 0;
	-webkit-transform: rotateZ(180deg);
	transform: rotateZ(180deg);
}

.logo-slider::before {
	left: 0;
	top: 0;
}

.logo-slider .logo-slide-track {
	-webkit-animation: logo-scroll 60s linear infinite;
	animation: logo-scroll 60s linear infinite;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: calc(250px * 27);
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

.logo-slider .slide {
	height: 150px;
	width: 250px;
	padding: 10px;
}

@-webkit-keyframes logo-scroll {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		-webkit-transform: translateX(calc(-250px * 7));
		transform: translateX(calc(-250px * 7));
	}
}

@keyframes logo-scroll {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		-webkit-transform: translateX(calc(-250px * 7));
		transform: translateX(calc(-250px * 7));
	}
}