.banner {
  background: linear-gradient(to right, #00A4DB, #CC00FF);
}

.banner__content {
  padding: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.banner__text {
  flex-grow: 1;

}



.banner__text,
.banner__close>span {
  color: #ffffff;
}

@media only screen and (max-device-width:768px) {
  .bug-bounty-mobile {
    font-size: small !important;
    display: flex;
    flex-direction: column;
  }
}


@media only screen and (min-device-width:768px) {
  .bug-bounty-desktop {
    font-size: larger !important;
  }
}


.roadmap-quarter-title-left {
  background: linear-gradient(to bottom right,#00A4DB, #CC00FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  font-weight: bold
}

.roadmap-quarter-title-right {
  background: linear-gradient(to bottom right,#CC00FF, #00A4DB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  font-weight: bold
}
