.hoverex_inline_834547146 {
    background-image: url(/assets/img/header_bg.jpg);
}

.vc_custom_1519300748572 {
    background-size: cover !important;
}

.vc_custom_1520602698175 {
    background-color: #d2538a !important;
}

.vc_custom_1521105932879 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.vc_custom_1520603587734 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.vc_custom_1520602707867 {
    background-color: #d2538a !important;
}

.vc_custom_1521105938306 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.vc_custom_1520603715037 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.vc_custom_1520602716764 {
    background-color: #d2538a !important;
}

.vc_custom_1521105944960 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.vc_custom_1520603737082 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.vc_custom_1521471054046 {
    background-color: #d2538a !important;
}

.vc_custom_1521105958355 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.vc_custom_1520603759923 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.vc_custom_1519390472493 {
    padding-right: 0px !important;
}

.vc_custom_1519390431383 {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1519390438801 {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.vc_custom_1519390480203 {
    padding-left: 0px !important;
}

.vc_custom_1519390699040 {
    background-color: #d2538a !important;
}

.vc_custom_1519390726041 {
    background-color: #d2538a !important;
}

.vc_custom_1519390740013 {
    background-color: #d2538a !important;
}

.vc_custom_1521471046302 {
    background-color: #d2538a !important;
}

.vc_custom_1521105848888 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.vc_custom_1519389625350 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.vc_custom_1521105861861 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.vc_custom_1519389754529 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.vc_custom_1521105873104 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.vc_custom_1519389760504 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.vc_custom_1521105885358 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.vc_custom_1519389769247 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.vc_custom_1521451773786 {
    margin-right: 0px !important;
}

.vc_custom_1521451781757 {
    margin-right: 0px !important;
}

.hoverex_inline_1249520880 {
    background-image: url(/assets/img/header_bg.jpg);
}

.vc_custom_1520416391280 {
    margin-bottom: 15px !important;
}

#rubic-widget-root iframe {
    height: auto !important;
    width: max-content !important;
    min-height: 500px;
    min-width: 400px;
}



.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
