
.swiper {
  width: 100%;
  height: auto;
}

.card-wrapper {
   background: linear-gradient(
180deg, #00A4DB 0, #CC00FF 100%);
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  padding-bottom: 40px;
}

.section-title {
    display: block;
    font-size: 1.5rem;
    line-height: 100% !important;
    letter-spacing: 1px;
    color: #FFF;
    font-weight: 700;
}

.section-content-text {
  color: #FFF;
  font-size: 0.9rem;
}

.bMYVRP.btn {
    font-family: DSemi, monospace;
    font-weight: normal;
    line-height: 1.25rem;
    width: fit-content;
    background-color: black;
    border-radius: 1.5rem;
    padding: 0.625rem 1.3125rem;
    color: white;
    border: 1px solid transparent;
    margin-top: 10px;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.bMYVRP.btn:hover, .bMYVRP.btn:active, .bMYVRP.btn:focus {
    background-color: rgb(255, 255, 255);
    color: black;
    border: 1px solid black;
}


.video {
  width: 100%;
  height: 400px;
  margin: auto;
  display: block;
  border: none;
}
.popup-btn, .close-btn {
  width: 100px;
  height: 50px;
  display: block;
  margin: 50px auto;
  cursor: pointer; 
  border: 2px solid black;
  background-color: white;
}
.popup-btn:hover {
  color: white;
  background-color: black;
}
.video-popup {
  display: none;
  width: 100%;
  height: 100vh;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 10px 10px 10px 10px black;
  z-index: 9999;
}
.popup-bg {
  background: rgba(0,0,0,0.8);
  width: 100%;
  height: 100vh;
  position: absolute;
}
.popup-content {
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: auto;
}
.popup-title {
  padding: 30px;
  margin: 0 auto;
  color: red;
  text-transform: uppercase;
}


.close-btn {
  padding: 0px !important ;
}

.goto-lab-wrapper {
width: 100%;
display: flex;
align-items: center;
justify-content: center;
padding: 20px 0px;
}

.video-wrapper {
padding: 30px 0px;
}

.video-iframe {
width: 100%;
height: 600px;
}

.color-item{
  display: block;
  float: left;
}

@media screen and (max-width: 768px) {
  .video-wrapper {
    height: 400px;
  }

  .video-wrapper iframe {
    height: 100% !important;
  }

  .popup-content {
    width: 95%;
  }
}

@media screen and (min-width: 768px) {
.card-wrapper  {
  min-height: 370px;
}
}

@media screen and (min-width: 960px) {
.card-wrapper  {
  min-height: 450px;
}
}

@media screen and (min-width: 1100px) {
.card-wrapper  {
  min-height: 340px;
}
}

@media screen and (min-width: 1300px) {
.card-wrapper {
  min-height: 330px;
}
}

@media screen and (min-width: 1500px) {
.card-wrapper {
  min-height: 420px;
}
}