.live-values-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    margin: 2px
}

.live-values-fonts {
    padding: 10px;
    background: linear-gradient(to right, #00A4DB 0%, #CC00FF 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-size: 20px;
    font-weight: 1000
}

.roadmap-btn {
    background: linear-gradient( #00A4DB , #CC00FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

::-webkit-scrollbar {
    width: 8px;
    height: 8px
}

::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: linear-gradient(180deg,#00A4DB,#CC00FF)
}

::selection {
    background-color: #00a4db;
    color: #fff
}

-webkit-::selection {
    background-color: #00a4db;
    color: #fff
}

::-moz-selection {
    background-color: #00a4db;
    color: #fff
}