html {
    scroll-behavior: smooth
}

@media only screen and (max-device-width:768px) {
    .remove-social {
        display: none !important
    }
}

@media only screen and (max-device-width:768px) {
    .remove-social1 {
        font-size: small !important;
        
    }
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca
}

.hover-underline-animation a span {
    color: rgba(255, 255, 255, .651)
}

.hover-underline-animation:hover a span {
    color: #fff
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform .25s ease-out
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left
}

.btn-lead {
    margin-right: 20px
}

.btn-lead:focus,
.btn-lead:hover {
    color: #fff;
    border-color: #fff
}