@import '@/ui/_styles/variables.scss';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 0;
  padding-right: 0;
  z-index: 0;

  @include medium() {
    padding-top: 0;
  }

  @include small() {
    gap: 40px;
    padding: 0;
  }
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;

  @include small() {
    padding: 0 5px;
    gap: 16px;
    text-align: center;
  }
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 28px;
  width: 100%;

  > article {
    z-index: 2;
  }

  @include medium() {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @include small-early() {
    display: grid;
    grid-template-columns: 100%;

    > article {
      width: 100%;
      max-width: 100%;
      z-index: 2;
    }
  }

  @include small() {
    flex-direction: column;
    gap: 16px;
  }
}

$shape-w: 600px;

.gradientShape {
  position: absolute;
  width: $shape-w;
  height: $shape-w;
  left: calc(50% - $shape-w / 2 - 300px);
  // top: calc(50% - $shape-w / 2 + 220px);
  pointer-events: none;
  background: radial-gradient(circle, $bright-purple-background 0%, rgba(17, 17, 40, 0) 60%);
  opacity: 0.9;
  filter: blur(50px);
  z-index: 1;

  @include small() {
    width: 90vw;
    height: 400px;
    left: calc(50% - 60vw);
    top: calc(50% - 70px);
    filter: blur(40px);
  }
}

.gradientShape2 {
  position: absolute;
  width: $shape-w;
  height: $shape-w;
  right: calc(50% - $shape-w / 2 - 300px);
  // top: calc(50% - $shape-w / 2 + 220px);
  pointer-events: none;
  background: radial-gradient(circle, $bright-purple-background 0%, rgba(17, 17, 40, 0) 60%);
  opacity: 0.9;
  filter: blur(50px);
  z-index: 1;

  @include small() {
    width: 90vw;
    height: 400px;
    left: calc(50% - 60vw);
    top: calc(50% - 70px);
    filter: blur(40px);
  }
}
