@import '@/ui/_styles/variables.scss';

/*
 * Component
 */
.container {
  position: relative;
  z-index: $index-section-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;

  @include small() {
    gap: 40px;
  }
}

.content {
  position: relative;
  z-index: 2;

  p {
    max-width: 630px;
    text-align: center;
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 28px;
  width: 100%;
  position: relative;
  z-index: 6;

  @include small() {
    grid-template-columns: 100%;
    gap: 16px;
  }
}

$shape-w: 600px;

.gradientShape {
  position: absolute;
  width: $shape-w;
  height: $shape-w;
  left: calc(50% - $shape-w / 2 - 300px);
  top: calc(50% - $shape-w / 2 + 220px);
  pointer-events: none;
  background: radial-gradient(circle, rgba(153, 72, 247, 1) 0%, rgba(17, 17, 40, 0) 80%);
  opacity: 0.9;
  filter: blur(50px);
  z-index: 1;

  @include small() {
    width: 90vw;
    height: 400px;
    left: calc(50% - 60vw);
    top: calc(50% - 70px);
    filter: blur(40px);
  }
}

.backgroundGradientColor {
  --top: -140px;
  --height: calc(100% + 200px);
}