/* ATTENTION! This file was generated automatically! Don&#039;t change it!!!
----------------------------------------------------------------------- */
@import "../css/_mixins.scss";
@import "../css/_theme-vars.scss";
@import "../css/_theme-responsive.scss";
@import "../front-page/_front-page-responsive.scss";
@import "../theme-specific/theme-hovers/_theme-hovers-responsive.scss";
@import "../plugins/trx_addons/_trx_addons-responsive.scss";
@import "../plugins/elementor/_elementor-responsive.scss";


/* SASS Suffix: --xxl */
@media (max-width: 1679px) {
	@include theme--xxl();
}


/* SASS Suffix: --xl */
@media (max-width: 1439px) {
	@include theme--xl();
	@include front_page--xl();
	@include trx_addons--xl();
	@include elementor--xl();
}


/* SASS Suffix: --lg */
@media (max-width: 1279px) {
	@include theme--lg();
	@include front_page--lg();
	@include trx_addons--lg();
	@include elementor--lg();
}


/* SASS Suffix: --md */
@media (max-width: 1023px) {
	@include theme--md();
	@include front_page--md();
	@include trx_addons--md();
	@include elementor--md();
}


/* SASS Suffix: --sm */
@media (max-width: 767px) {
	@include theme--sm();
	@include front_page--sm();
	@include trx_addons--sm();
	@include elementor--sm();
}


/* SASS Suffix: --xs */
@media (max-width: 479px) {
	@include theme--xs();
	@include front_page--xs();
	@include theme-hovers--xs();
	@include trx_addons--xs();
	@include elementor--xs();
}
