@import '@/ui/_styles/variables.scss';

.container {
  position: relative;
  overflow: hidden;
  border-radius: $border-radius-lg;

  @include small() {
    border-radius: $border-radius-sm;
  }
}

.buttonWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;

  > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .blackLayer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color-neutral-900, 0.8);
    z-index: 1;
  }

  .image {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    display: block;
  }
}
