@import '@/ui/_styles/variables.scss';

.wrapper {
  position: relative;
  z-index: $index-section-content - 1;
  background-color: transparent;
}

.container {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  z-index: $index-section-content;

  @include small() {
    gap: 40px;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.brand {
  max-width: 430px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 28px;

  svg {
    width: auto;
    height: 50px;
  }

  @include small() {
    gap: 16px;

    svg {
      height: 30px;
    }
  }
}

.links {
  max-width: 625px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 28px;

  @include small() {
    gap: 28px;
  }

  .linksColumn {
    display: flex;
    flex-direction: column;
    gap: 28px;

    @include small() {
      gap: 28px;
    }
  }

  .description {
    @include text-text-large();
    text-transform: uppercase;

    @include small() {
      @include text-text-medium();
    }
  }

  .linksList {
    display: flex;
    flex-direction: column;
    gap: 28px;

    @include small() {
      gap: 16px;
    }

    a {
      width: fit-content;
      @include text-text-large();
      @include link-hover-effect();

      @include small() {
        @include text-text-medium();
      }
    }
  }
}

.activeLink {
  text-decoration: underline;
}