@import '@/ui/_styles/variables.scss';

.container {
  display: flex;
  gap: var(--lgGap);

  @include small() {
    gap: var(--smGap);
  }
}

.direction {
  &-column {
    flex-direction: column;
  }
  &-row {
    flex-direction: row;
  }
}

.smDirection {
  @include small() {
    &-column {
      flex-direction: column;
    }
    &-row {
      flex-direction: row;
    }
  }
}

.alignItems {
  &-flex-start {
    align-items: flex-start;
  }
  &-center {
    align-items: center;
  }
}

.justifyContent {
  &-flex-start {
    justify-content: flex-start;
  }
  &-center {
    justify-content: center;
  }
}
