@import '@/ui/_styles/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: $border-radius-lg;
  overflow: hidden;
  background: $pale-transparent-background;
  border: 1px solid $pale-transparent-border;
  backdrop-filter: blur(20px);
  width: 100%;
}

.media {
  width: 100%;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  padding: 32px;
  gap: 12px;

  .description {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  @include small() {
    padding: 24px;
  }
}

.footer {
  padding: 0 32px 32px 32px;

  @include small() {
    padding: 0 24px 24px 24px;
  }
}
