@import '@/ui/_styles/variables.scss';

.container {
  position: relative;
  z-index: 1;

  @include mediumUp() {
    margin-top: -200px !important;

    > div {
      padding-top: calc(100px + 140px) !important;
    }
  }
}
