@import '@/ui/_styles/variables.scss';

.container {
  position: relative;
}

.title {
  z-index: 1;

  span {
    @include mediumUp() {
      display: inline-block;
      width: 80px;
      height: 10px;
    }
  }
}

.cardsList {
  position: relative;
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 28px;
  z-index: 1;

  @include small-early() {
    padding: 0;
  }

  @include small() {
    grid-template-columns: 100%;
    gap: 28px;
    padding: 0;
  }
}

.lightsLayer {
  position: absolute;
  top: -220px;
  left: 0;
  width: 100%;
  height: calc(100% + 580px);
  z-index: 0;
  border-radius: $border-radius-lg;
  background: radial-gradient(
    34.39% 34.95% at 49.06% 48.89%,
    rgba(213, 92, 255, 0.2) 0%,
    rgba(213, 92, 255, 0) 66.37%,
    rgba(213, 92, 255, 0) 100%
  );

  @include small() {
    top: -120px;
    height: calc(100% + 400px);
    border-radius: $border-radius-sm;
  }
}
