@import '@/ui/_styles/variables.scss';

.section {
  position: relative;
  z-index: $index-section-content;
}

.container {
  @include regular-border-radius;
  position: relative;
  overflow: hidden;
}

.backgroundColor {
  &-purple {
    background-color: $pale-purple-background;
    border: 1px solid $pale-purple-border;
    backdrop-filter: blur(20px);
  }

  &-purple-dark {
    background-color: $pale-purple-background;
    border: 1px solid $pale-purple-border;
    backdrop-filter: blur(20px);
  }
}

.content {
  position: relative;
  padding: 80px;
  display: flex;
  gap: 80px;
  flex-direction: column;
  z-index: 1;

  @include medium() {
    position: relative;
    padding: 80px;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }

  @include small-early() {
    padding: 60px;
    gap: 60px;
  }

  @include small() {
    padding: 22px;
    gap: 40px;
  }

  @include maxHeightScreen(700px) {
    gap: 40px;
  }
}

.gradientLayer {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
  background: linear-gradient(181deg,
      rgba(16, 8, 38, 0.75) 0%,
      rgba(16, 8, 38, 0.3) 31%,
      rgba(16, 8, 38, 0) 100%);

  @include small() {
    background: linear-gradient(181deg,
        rgba(16, 8, 38, 0.75) 0%,
        rgba(16, 8, 38, 0.3) 31%,
        rgba(16, 8, 38, 0) 100%);
    ;
  }
}

.backgroundImage {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;

  &.image {
    &-none {}

    &-dottedWave {
      // background-image: url('/images/shared/section-primary--dottedWave-bg@2x.webp');
      background-position: bottom center;
      background-size: 100%;
      background-repeat: no-repeat;

      @include small() {
        background-position: 30% -30%;
        background-size: 950px;
      }
    }

    &-leftConnerBrandIcon {
      background-image: url('/images/shared/section-primary--leftConnerBrandIcon-bg@2x.png');
      background-position: right top;
      background-size: 495px;
      background-repeat: no-repeat;

      @include small-early() {
        background-position: calc(100% + 30px) 0%;
      }

      @include small() {
        background-position: calc(100% + 30px) 0%;
        background-size: 245px;
      }
    }
  }
}