@import '@/ui/_styles/variables.scss';

$text-indentation: 80px;

.container {
  position: relative;
  z-index: $index-section-content;
  width: 100%;
}

.governanceContainer {
  position: relative;
  z-index: 1;

  &_title {
    span {
      width: $text-indentation;
      height: 10px;
      display: inline-block;
    }

    @include small() {
      span {
        display: none;
      }

      br {
        display: none;
      }
    }
  }

  &_descriptionColumns {
    @include mediumUp() {
      padding-left: $text-indentation;

      p {
        width: 100%;
      }
    }
  }
}

.cardsList {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  padding-left: $text-indentation;

  @include medium() {
    grid-template-columns: repeat(3, 1fr);
  }

  @include small() {
    padding-left: 0;
    margin-top: 40px;
    grid-template-columns: 100%;
    gap: 24px;
  }
}

.rightBlurShape {
  @include small() {
    display: none;
  }
}