@import '@/ui/_styles/variables.scss';

$border-radius: 100px;
$border-width: 2px;

.container {
  border-radius: $border-radius;
  position: relative;
  background: transparent;

  span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    z-index: 1;
    line-height: 1;
    white-space: nowrap;
    @include transition(0.8s, transform);

    @include link-hover-effect();

    &.color {
      &-neutral0::after {
        background-color: $color-neutral-0;
      }
      &-raspberry-300::after {
        background-color: $color-brand-raspberry-500;
      }
    }
  }

  svg {
    z-index: 1;
    @include transition(0.8s, transform, opacity);
  }
}
