@import '@/ui/_styles/variables.scss';

.container {
  @include mediumUp() {
    display: none;
  }

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px 20px;
  width: 100%;
  z-index: $index-main-navigation;
  overflow: hidden;

  &:before {
    @include transition(0.8s, opacity);
    position: absolute;
    top: 59px;
    left: 0;
    content: ' ';
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 1;
  }

  // Scroll Event
  &.event-scrolling {
    backdrop-filter: blur(10px);
    backface-visibility: hidden;
  }

  // State
  &.state-open {
    @include transition(0.8s, height);
    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    height: 100vh;
    &:before {
      opacity: 0;
    }
  }

  &.state-close {
    @include transition(0.8s, height);
    height: 60px;
  }
}

.brand {
  position: relative;
  z-index: 1;

  svg {
    height: 25px;
    width: auto;
  }
}

.navTrigger {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 29px;

  .navTriggerButton {
    svg {
      display: block;

      line {
        @include transition(0.6s, transform, opacity);
      }
    }

    &.isOpen {
      svg {
        line:nth-child(1) {
          transform: rotate(43deg) translate(4px, -4px);
        }
        line:nth-child(2) {
          opacity: 0;
          transform: translateX(5px);
        }
        line:nth-child(3) {
          transform: rotate(-43deg) translate(-10px, -1px);
        }
      }
    }
  }
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 20px;

  > * {
    opacity: 0;
    transform: translateY(20px);
  }

  &.showButtons {
    > * {
      @include transition(0.8s, opacity, transform);
      @for $i from 1 to 10 {
        &:nth-child(#{$i}) {
          transition-delay: $i * 0.1s;
        }
      }

      opacity: 1;
      transform: translateY(0);
    }
  }
}

.bg {
  @include transition(0.6s, opacity);

  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  z-index: -1;

  &.showBg {
    @include transition(1s, opacity);
    opacity: 1;
  }
}

/*
 * Nav Link Button
 */
.navLinkButton {
  @include text-headline-heavy();

  &.active {
    color: $color-brand-raspberry-300;
    pointer-events: none;
  }
}

/*
 * Nav Dropdown
 */
.navDropdown {
  position: relative;
  display: flex;
  width: 100%;

  &_button {
    @include text-headline-heavy();
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    width: 100%;

    svg {
      scale: 1.4;
    }
  }

  &_popover {
    @include transition(0.8s, opacity, transform);
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    opacity: 0;
    pointer-events: none;
    transform: translateY(15px);
    margin-top: 10px;
    width: 100%;

    &.isOpen {
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0);
    }
  }

  &_link {
    @include text-headline-medium();
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    width: 100%;

    svg {
      @include transition(0.8s, transform);
      scale: 1.4;
    }

    &:after {
      display: none;
    }

    @include hover() {
      svg {
        transform: translate(3px, -3px);
      }
    }
  }
}
