@import '@/ui/_styles/variables.scss';

.container {
  position: relative;
  padding: 40px;
  border-radius: $border-radius-sm;
}

.variant {
  &-primary {
    background: $pale-transparent-background;
    border: 1px solid $pale-transparent-border;
    backdrop-filter: blur(20px);
    padding: 32px;

    @include small() {
      padding: 24px;
    }
  }
  &-secondary {
    cursor: grab;
    user-select: none;
    padding: 40px;
    background: $pale-transparent-background;
    border: 1px solid $pale-transparent-border;
    backdrop-filter: blur(20px);

    @include small() {
      padding: 24px;
    }
  }
  &-tertiary {
    padding: 40px;
    background: $pale-transparent-background;
    border: 1px solid $pale-transparent-border;
    backdrop-filter: blur(20px);

    @include small() {
      padding: 24px;
    }
  }
  &-stats {
    display: flex;
    justify-content: space-between;
    padding: 32px;
    background: $pale-transparent-background;
    border: 1px solid $pale-transparent-border;
    backdrop-filter: blur(20px);
    h6 {
      margin-bottom: 0;
    }
    @include small() {
      padding: 24px;
    }
  }
}

.counter {
  margin-bottom: 24px;

  @include small() {
    margin-bottom: 12px;
  }
}

.button {
  margin-top: 8px;
}
