@import '@/ui/_styles/variables.scss';

.section {
  position: relative;
  z-index: $index-section-content;
}

.container {
  position: relative;
  z-index: 1;
  width: 100%;
  border-radius: $border-radius-lg;
  background: $color-brand-purple-400;
  padding: 130px 100px;
  display: grid;
  gap: 32px;

  @include mediumUp() {
    grid-template-columns: 1fr 1.5fr;
  }

  @include small-early() {
    padding: 60px;
    grid-template-columns: 100%;
  }

  @include small() {
    grid-template-columns: 100%;
    padding: 48px 24px;
  }
}

.descriptionText {
  margin-top: 8px;
  max-width: 430px;

  @include small-early() {
    max-width: 100%;
  }
}

.buttonsList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-end;
  gap: 12px;

  @include small-early() {
    justify-content: flex-start;
  }

  @include small() {
    justify-content: flex-start;
    margin-top: 10px;
  }
}