@import '@/ui/_styles/variables.scss';

.banner {
    position: fixed;
    right: 0;
    top: 95px;
    width: 100%;
    height: 100px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    color: $color-brand-plum-200;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;

    @include small() {
        top: 60px;
    }

    &.open {
        opacity: 1;
    }
}