@import '@/ui/_styles/variables.scss';

$border-width: 4px;

.container {
  @include transition(background, 1s);
  position: relative;
  padding: 80px;
  border-radius: $border-radius-lg;
  background: rgba($color-neutral-0, 0.03);

  &::after {
    pointer-events: auto;
    content: '';
    position: absolute;
    border-radius: $border-radius-lg;
    inset: 0;
    z-index: -1;

    padding: $border-width;
    background: linear-gradient(45deg, $color-brand-raspberry-300, $color-brand-blue-400);
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

  @include medium() {
    padding: 60px;
  }

  @include small-early() {
    padding: 50px;
  }

  @include small() {
    padding: 32px;
  }
}

.hovered {
  background: rgba($color-neutral-0, 0.08);
}

.imageLayout {
  &-rightTopCorner {
    pointer-events: auto;
    position: absolute;
    top: -198px;
    right: -70px;
    z-index: 1;

    @include medium() {
      max-width: 280px;
      top: -150px;
      right: -65px;
    }

    @include small() {
      max-width: 180px;
      top: -60px;
      right: -45px;
    }
  }
  &-rightBottom {
  }
}
