@import '@/ui/_styles/variables.scss';

$extra-left-padding: 80px;
$w: 300px;

.container {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;

  @include small() {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.dexContainer {
  position: relative;
  z-index: 1;
  text-align: center;
}

.circleBlurredShape1 {
  z-index: -1;

  @include small() {
    --width: 500px;
    --left: calc(100% - 300px);
    --top: -20%;
  }
}

.circleBlurredShape2 {
  z-index: -1;

  @include small() {
    display: none;
  }
}

.button {
  margin-left: $extra-left-padding;

  @include small() {
    margin-left: 0;
  }
}