@import '@/ui/_styles/variables';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
  padding: 40px;
  z-index: 0;

  @include small() {
    gap: 40px;
    padding: 0;
  }
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;

  @include small() {
    gap: 16px;
    text-align: center;
  }
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 28px;
  width: 100%;

  @include medium() {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @include small-early() {
    display: grid;
    grid-template-columns: 100%;

    >article {
      width: 100%;
      max-width: 100%;
    }
  }

  @include small() {
    gap: 16px;
    flex-direction: column;
  }
}

$shape-w: 1200px;

.bgShape {
  position: absolute;
  width: $shape-w;
  height: $shape-w;
  left: calc(50% - $shape-w / 2);
  top: -70%;
  opacity: 0.5;
  z-index: -1;
  background: transparent;
  pointer-events: none;
}